<% layout("/layouts/boilerplate.ejs") -%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3><%= listing.title %></h3>
    <div class="col-6 offset-2">
      <img
        src="<%= listing.image %>"
        class="img-fluid rounded mb-3"
        alt="<%= listing.title %>"
      />
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text"><%= listing.description %></p>
        <ul class="list-group list-group-flush mb-3">
          <li class="list-group-item">
            <strong>Price:</strong> &#8377;<%=
            listing.price.toLocaleString("en-IN") %>
          </li>
          <li class="list-group-item">
            <strong>Location:</strong> <%= listing.location %>
          </li>
          <li class="list-group-item">
            <strong>Country:</strong> <%= listing.country %>
          </li>
        </ul>
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark me-2"
          >Edit</a
        >
        <form
          method="POST"
          action="/listings/<%= listing._id %>?_method=DELETE"
          class="d-inline"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-8 offset-2 mb-3">
    <hr />
    <h4>Leave a review</h4>
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          name="review[rating]"
          id="rating"
          min="1"
          max="5"
          class="form-range"
          required
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          name="review[comment]"
          id="comment"
          class="form-control"
          rows="5"
          cols="30"
          required
        ></textarea>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
  </div>
</div>
